@model graduation_project.Models.PersonRole

@{
    ViewBag.Title = "حذف دور";
}

<h2>حذف</h2>

<h3>هل انت متأكد من حذف هذا الدور؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("العودة لقائمة الادوار", "Index")
        </div>
    }
</div>
