@model IEnumerable<graduation_project.Models.Booking>

@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>تأكيد حجز</h2>


<div class="card ">

    <div class="table-responsive">
        <table class="table align-items-center ">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="w-30">
                            <div class="d-flex px-2 py-1 align-items-center">
                                <div class="ms-4">
                                    <p class="text-xs font-weight-bold mb-0">العيادة</p>
                                    <h6 class="text-sm mb-0">
                                        @Html.DisplayFor(modelItem => item.Clinic.name)
                                    </h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <p class="text-xs font-weight-bold mb-0">الطبيب</p>
                                <h6 class="text-sm mb-0">
                                    @Html.DisplayFor(modelItem => item.Doctor.Person.name)
                                </h6>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <p class="text-xs font-weight-bold mb-0">المراجع</p>
                                <h6 class="text-sm mb-0">
                                    @Html.DisplayFor(modelItem => item.Person.name)
                                </h6>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <p class="text-xs font-weight-bold mb-0">التاريخ</p>
                                <h6 class="text-sm mb-0">
                                    @item.date.ToShortDateString()
                                </h6>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <p class="text-xs font-weight-bold mb-0">اجراء</p>
                                <h6 class="text-sm mb-0">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@Model.FirstOrDefault().ID" />
                                        <input class="btn btn-success" type="submit" value="موافقة" />
                                    }
                                </h6>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
