@model graduation_project.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<h2>إلغاء الموعد</h2>

<h3>هل انت متأكد من إلغاء هذا الموعد ؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Model.date.ToShortDateString()
        </dd>

      
        <dt>
            @Html.DisplayNameFor(model => model.Clinic.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinic.name)
        </dd>

        <dt>
            @Html.DisplayName("الطبيب")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.Person.name)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="إلغاء الموعد" class="btn btn-default" /> |
            @Html.ActionLink("العودة لقائمة الحجوز", "Index")
        </div>
    }
</div>
