@model IEnumerable<graduation_project.Models.Booking>

@{
    ViewBag.Title = "Index";
}



    <div class="col-xl-12 col-sm-6 mb-xl-0 mb-4 m col-md-12">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Details", "Questions", new { id = item.ID })">
                <div class="card m-2">

                    <div class="card-body p-3">

                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-uppercase font-weight-bold ">
                                        @Html.DisplayFor(modelItem => item.Clinic.name) - @Html.DisplayName(" مع الطبيب")   @Html.DisplayFor(modelItem => item.Doctor.Person.name)

                                    </p>
                                    <h5 class="font-weight-bolder ">
                                        @if (item.active == true)
                                        {
                                            <span>تم تأكيد الحجز</span>
                                        }
                                        else if (item.active == false)
                                        { <span>تم رفض الحجز</span>
                                        }
                                        else
                                        { <span>قيد الانتظار</span>
                                        }

                                    </h5>
                                    <p class="mb-0">
                                        <span class="text-success text-sm font-weight-bolder">@item.date.ToShortDateString()</span>
                                    </p>
                                    <br />
                                    <p>
                                        @Html.ActionLink("تعديل", "Edit", new { id = item.ID } , new { @class = " btn" } ) |
                                        @Html.ActionLink("حذف", "Delete", new { id = item.ID }, new { @class = "btn-danger btn" })
                                  
                                        
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </a>}
    </div>


                
