@model graduation_project.Models.QAvm

@{
    ViewBag.Title = "Details";
}

<div class="col-xl-12 col-sm-6 mb-xl-0 mb-4 m col-md-12">

        <div class="card m-2">

            <div class="card-body p-3">

                <div class="row">
                    <div class="col-8">
                        <div class="">
                            <p class="font-weight-bolder">
                                @Html.DisplayFor(model => model.question.title)
                            </p>
                            <h5 class="text-sm mb-0 text-uppercase font-weight-bold  ">
                                @Html.DisplayFor(model => model.question.question1)

                            </h5>
                            

                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>

<div class="col-xl-12 col-sm-6 mb-xl-0 mb-4 m col-md-12 container">
    @for (int i = 0; i < Model.answers.Count(); i++)
    {
        
            <div class="card m-2">

                <div class="card-body p-3">

                    <div class="row">
                        <div class="col-8">
                            <div class="">
                                <p class="font-weight-bolder">
                                    @Model.answers[i].Doctor.Person.name
                                </p>
                                <h5 class="text-sm mb-0 text-uppercase font-weight-bold  ">
                                    @Model.answers[i].answer1

                                </h5>
                                <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">@Model.answers[i].date.ToShortDateString()</span>
                                </p>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
</div>




@if (ViewBag.isDoctor)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>اضافة جواب</p>
        <div class="form-horizontal">
            <hr class="dark" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.answer.answer1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.answer.answer1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.answer.answer1, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.question.ID)



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="أرسل" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}

<p>
    @Html.ActionLink("العودة للأسئلة", "Index")
</p>
